@use '@scss-variables/animation';

.Root {
  padding: 6px 12px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: show 300ms animation.$easing-base both;
  min-width: 250px;
  max-width: 50vw;
  line-height: 12px;
  background-color: var(--theme-color-fg-highlight);
  color: var(--theme-color-bg-1);

  &.is-danger {
    background-color: var(--theme-color-danger);
    padding-right: 6px;
  }

  &.is-success {
    background-color: var(--theme-color-success);
  }
}

.Message {
  font-weight: 600;
  position: relative;
  z-index: 1;
  padding: 6px 0;
  padding-right: 4px;
}

.ProgressBar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: var(--theme-color-primary);
  transition: width animation.$speed-turbo animation.$easing-base;
}

.ActivityIndicatorContainer {
  padding-left: 30px;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
