.Root {
  border: 1px solid var(--theme-color-bg-2);
  border-radius: 2px;
}

.Container {
  padding: 12px 16px;
  user-select: none;
}

.Mounted {
  transform: translateY(0px);
  opacity: 1;
  transition: background-color 100ms ease, opacity 500ms ease, transform 0.5s ease;
}

.Mounting {
  transform: translateY(8px);
  opacity: 0;
}
