.Title {
  font-weight: 500;
  font-size: 11px;
  line-height: 13.31px;
  letter-spacing: 3%;
  padding: 10px 13px 0;
  margin-block-end: 0;
  color: var(--theme-color-fg-muted);
  position: relative;
  z-index: 2;
}
