@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  src: url('../assets/fonts/Inter/Inter-Light.ttf');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Inter/Inter-Regular.ttf');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/Inter/Inter-Bold.ttf');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/Inter/Inter-SemiBold.ttf');
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  cursor: pointer;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.25);
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: 12px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track-piece {
  display: none;
}
::-webkit-scrollbar-corner {
  display: none;
}

*:focus {
  outline: none;
}
