.Title {
  padding-top: 20px;
  padding-left: 13px;
  padding-right: 13px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 3%;
  line-height: 14.52px;
  color: var(--theme-color-fg-muted);
  margin-block-start: 0;
}
