.Image {
  width: 100px;
  margin: -16px;
  margin-right: 16px;
  border-radius: 2px 0 0 2px;
  background-size: cover;
}

.Details {
  width: 100%;
}

.TypeDisplay {
  margin-bottom: 8px;
}

.VersionControlTooltip {
  cursor: default;
}
