:root {
  --font-family: 'Inter';
  --font-family-regular: 'Inter-Regular';
  --font-family-bold: 'Inter-Bold';
  --font-family-light: 'Inter-Light';
  --font-family-semibold: 'Inter-SemiBold';

  --font-family-code: Menlo, Monaco, 'Courier New', monospace;

  --font-weight-light: 200;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}
