$easing-base: var(--easing-base);
$easing-equal: var(--easing-equal);

$speed-turbo: var(--speed-turbo);
$speed-quick: var(--speed-quick);
$speed-base: var(--speed-base);
$speed-slow: var(--speed-slow);
