$black-base: var(--color-black-base);
$black-light: var(--color-black-light);
$black-lighter: var(--color-black-lighter);

$gray-base: var(--color-gray-base);

$white-base: var(--color-white-base);
$white-base-90: var(--color-white-base-90);
$white-base-75: var(--color-white-base-75);
$white-base-65: var(--color-white-base-65);
$white-base-50: var(--color-white-base-50);

$noodl-white: var(--color-noodl-white);
$noodl-orange: var(--color-noodl-orange);
$noodl-orange-dark: var(--color-noodl-orange-dark);
$noodl-orange-20: var(--color-noodl-orange-20);
$noodl-teal: var(--color-noodl-teal);
$noodl-red: var(--color-noodl-red);
$noodl-green: var(--color-noodl-green);
$noodl-dark: var(--color-noodl-dark);
$noodl-blue: var(--color-noodl-blue);
$noodl-green-new: var(--color-noodl-green-new);

$success: var(--color-success);
$notice: var(--color-notice);
$danger: var(--color-danger);

$node-visual-1: var(--color-node-visual-1);
$node-visual-1-light: var(--color-node-visual-1-light);
$node-logic-1: var(--color-node-logic-1);
$node-logic-1-light: var(--color-node-logic-1-light);
$node-data-1: var(--color-node-data-1);
$node-data-1-light: var(--color-node-data-1-light);
$node-connection-1: var(--color-node-connection-1);
$node-connection-1-light: var(--color-node-connection-1-light);
$node-custom-1: var(--color-node-custom-1);
$node-custom-1-light: var(--color-node-custom-1-light);

$connection-signal: var(--color-connection-signal);
$connection-signal-light: var(--color-connection-signal-light);
$connection-data: var(--color-connection-data);
$connection-data-dark: var(--color-connection-data-dark);
$connection-data-light: var(--color-connection-data-light);

$gradient-default: linear-gradient(-45deg, #e1bb4e, #36a8aa);
